<input type="hidden" id="hidPeriodo" value="@ViewData["periodo"]" />

<div class="row tile_count">
     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" data-toggle="modal" data-target="#divModal" id="total">
          <span class="count_top"><i class="fa fa-user"></i> Total de Estudiantes</span>
          <div class="count">@ViewData["TotalEstudiantes"]</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>.</i> </span>
     </div>
     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-clock-o"></i>Arquitectura</span>
          <div class="count">@ViewData["TotalARQ"]</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["PorcentajeARQ"]% </i> </span>
     </div>
     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i>Ing. Sis. Automotriz</span>
          <div class="count green">@ViewData["TotalISA"]</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["PorcentajeISA"]% </i> </span>
     </div>
     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i>Ing. Sis. Computacionales</span>
          <div class="count green">@ViewData["TotalISI"]</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["PorcentajeISI"]% </i> </span>
     </div>
     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i>Ing. Mecatrónica</span>
          <div class="count green">@ViewData["TotalIMC"]</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["PorcentajeIMC"]% </i> </span>
     </div>
     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i>Ing. Electrónica</span>
          <div class="count green">@ViewData["TotalIEL"]</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["PorcentajeIEL"]% </i></span>
     </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
     <div class="x_title">
          <div class="row">
               <div class="page-title">
                    <div class="title_left">
                         <h3>Estudiantes Inscritos <small>Periodo @ViewData["descPeriodo"]</small></h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search">
                         <div class="form-inline">
                              <label for="cboPeriodo">
                                   Periodo
                              </label>
                              <select class="form-control" id="cboPeriodo"></select>
                         </div>
                    </div>
               </div>
               <div class="clearfix"></div>
               <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="x_panel">
                         <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                              <label for="tags">
                                   Seleccione la estádistica a graficar
                              </label>
                              <select class="form-control" id="cboEstadistica" required>
                                   <option value="1">Tipo de Actividad</option>
                                   <option value="2">Actividad</option>
                                   <option value="3">Semestre</option>
                                   <option value="4">Carrera</option>
                              </select>
                         </div>
                         @Html.Partial("../Generales/ModuloGraficas")
                    </div>
               </div>
          </div>
          @Html.Partial("../Generales/ModalTablaDatos")
     </div>
</div>

<script src="~/Scripts/ManejoDatos/Graficas/EstadisticasActividadesExtraescolares.js"></script>
