<input type="hidden" id="hidPeriodo" value="@ViewData["periodo"]" />


<div class="page-title">
     <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-left">
          <h3>Asignación de Materias por Bloque</h3>
     </div>
     <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search">
          <div class="form-inline">
               <label for="cboPeriodo">
                    Periodo
               </label>
               <select class="form-control" id="cboPeriodo"></select>
          </div>
     </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
     <form class="form-horizontal form-label-left" action="#" id="frmMateriasBloque" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
          <div class="x_title">
               <h3>Asignación  de grupos <small>@ViewData["descPeriodo"]</small></h3>               
          </div>
          <div class="x_content">
               <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                         <label>No. de control</label>
                         @if (ViewData["txtEstudiantes"] != null)
                         {
                              <input id="txtNoControl" list="txtEstudiantes" class="form-control" required>
     <datalist id="txtEstudiantes">
          @foreach (System.Data.DataRow dr in (ViewData["txtEstudiantes"] as System.Data.DataTable).Rows)
          {
               <option data-value="@dr.ItemArray[1].ToString().Trim()-@dr.ItemArray[2].ToString().Trim()-@dr.ItemArray[3].ToString().Trim()" value="@dr.ItemArray[0].ToString().Trim()">@dr.ItemArray[1].ToString().Trim() (@dr.ItemArray[2].ToString().Trim())</option>
          }
     </datalist>
                         }

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                         <label>Grupos</label>
                         @if (ViewData["grupos"] != null)
                         {
                              <select class="form-control" id="cboGrupos">
                                   @foreach (System.Data.DataRow dr in (ViewData["grupos"] as System.Data.DataTable).Rows)
                                   {
                                        <option value="@dr.ItemArray[2].ToString().Trim()">@dr.ItemArray[0].ToString().Trim()</option>
                                   }
                              </select>
                         }
                    </div>
                    <div id="divDatos" class="row div-hide">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" readonly>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>NIP</label>
                            <input type="text" class="form-control" id="txtNip" readonly>
                        </div>
                    </div>
               </div>
            
               <button id="btnIniciar" type="submit" class="btn btn-info buttonload">
                    <i id="iLoad" class="fa fa-spinner fa-spin" style="display: none;"></i>Guardar y Autorizar
               </button>
          </div>
     </form>
</div>
<div id="divVisor" class="row div-hide">
     <div class="col-md-12 center-margin center-block">
          <div class="x_panel">
               <div class="x_title">
                    <h3>Carga Académica</h3>
                    <div class="clearfix"></div>
               </div>
               <div class="x_content">
                    @Html.Partial("../Generales/VisorPDF")
               </div>
          </div>
     </div>
</div>
<div id="divTabla">
     @Html.Partial("../Generales/TablaGeneral")
</div>

<script src="~/Scripts/ManejoDatos/Escolares/MateriasPorBloque.js"></script>
