<div class="clearfix"></div>
     <form class="form-horizontal form-label-left" action="#" id="frmPeriodosActividades" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
          <input type="hidden" id="hidPeriodo" value="@ViewData["txtPeriodo"]" />
          <div class="page-title">
              <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-left">
                  <h3>Registrar Fechas del Periodo <small>@ViewData["txtDescPeriodo"]</small></h3>
              </div>

              @Html.Partial("../Generales/ComboPeriodo")
          </div>
          <div class="clearfix"></div>
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">

                         <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-12">
                                   <div class="x_panel">
                                        <div class="x_title">
                                             <h4>Fecha de Registro de Grupos</h4>
                                             <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                             <label>
                                                  Inicio
                                             </label>
                                             <div class='input-group date' id='dtpFechaIniRegistro'>
                                                  <input type='text' id="txtFechaIniRegistro" class="form-control" value="@ViewData["txtIniRegistro"]" required />
                                                  <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                             </div>

                                             <label>
                                                  Fin
                                             </label>
                                             <div class='input-group date' id='dtpFechaFinRegistro'>
                                                  <input type='text' id="txtFechaFinRegistro" class="form-control" value="@ViewData["txtFinRegistro"]" required />
                                                  <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4 col-xs-12">
                                   <div class="x_panel">
                                        <div class="x_title">
                                             <h4>Fecha de selección de cursos</h4>
                                             <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                             <label>
                                                  Inicio
                                             </label>
                                             <div class='input-group date' id='dtpFechaIni'>
                                                  <input type='text' id="txtFechaIni" class="form-control" value="@ViewData["txtIniSeleccion"]" required />
                                                  <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                             </div>

                                             <label>
                                                  Fin
                                             </label>
                                             <div class='input-group date' id='dtpFechaFin'>
                                                  <input type='text' id="txtFechaFin" class="form-control" value="@ViewData["txtFinSeleccion"]" required />
                                                  <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-12">
                                   <div class="x_panel">
                                        <div class="x_title">
                                             <h4>Captura de Calificaciones</h4>
                                             <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                             <label>
                                                  Inicio
                                             </label>
                                             <div class='input-group date' id='dtpFechaIniCaptura'>
                                                  <input type='text' id="txtFechaIniCaptura" class="form-control" value="@ViewData["txtIniCaptura"]" required />
                                                  <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                             </div>

                                             <label>
                                                  Fin
                                             </label>
                                             <div class='input-group date' id='dtpFechaFinCaptura'>
                                                  <input type='text' id="txtFechaFinCaptura" class="form-control" value="@ViewData["txtFinCaptura"]" required />
                                                  <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>
                         <div class="row">
                              <div class="col-md-offset-8 col-md-4">
                                   <button id="btnGuardar" type="submit" class="btn btn-block btn-success">Guardar Fechas</button>
                              </div>
                         </div>
               </div>
          </div>

          @Html.Partial("../Generales/TablaGeneral")
     </form>


     <script src="~/Scripts/ManejoDatos/DEP/ActivarPeriodoCLE.js"></script>
